*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.title{
    text-align: center;
    padding: 30px;
}
th, td,tr {
    border: 1px solid;
    padding: 5px;
    text-align: center;
    width: 200px;
    
}
table{
    margin: 40px auto;
    border: 1px solid;
}

.form{
    border: 0.5px solid;
    width: 300px;
    padding: 20px;
    margin: auto;
}

p{
    padding: 5px;
}
#name{
    margin-left: 13px;
}
#score{
    margin-left: 15px;
}
#submit{
   margin-left: 15px;
   padding: 2px;
   
}
